# JUST A BOILERPLATE REFERENCE FOR SECURING ENVIRONMENT KEYS FOR DEVS
# @DhirendraHudda98

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=<service_id>
VITE_EMAILJS_TEMPLATE_ID=<template_id>
VITE_EMAIL_JS_ACCESS_TOKEN=<access_token>

# Sitemap
SITEMAP_PATH=/sitemap.xml

